
.alert {
  padding: 5px;
    margin: 15px;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .success {
    background-color:  #00a875; 
    color: #ffffff;
  }
  
  .error {
    background-color: #f8c143; 
    color: #fff;
  }
  

