
.alert {
  padding: 5px;
    margin: 15px;
    border-radius: 8px;
    font-weight: bold;
  }
  
  .success {
    background-color:  #43f8c1; 
    color: #fff;
  }
  
  .error {
    background-color: #f8c143; 
    color: #fff;
  }
  

