.inputField {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  border-radius: 8px;
  font-size: 14px;
}

.updateButton {
  background-color: #f8c143;
  color: #000;
  border: none;
  cursor: pointer;
  margin: 0;
  border-radius: 8px;
  padding: 8px 12px;
  font-size: 14px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #ffb300;
  }
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}

h2 {
  font-size: 18px;
}
