.bookingFormContainer {


  h2 {
    margin: 0;
    padding: 0;
    font-size: 18px;
    margin-bottom: 1rem;
  }

  .formGroup {
    label {
      display: block;
      margin-bottom: 5px;
      margin-top: 20px;
      width: 100%;
    }

    input[type="text"],
    input[type="date"],
    input[type="number"] {
      width: 100%;
      padding: 0.5rem;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 1rem;
      box-sizing: border-box; 
    }

    .formGroup + .formGroup {
      margin-top: 1rem;
    }
  }

  .formGroup:last-child {
    text-align: center;

    button {
      margin-top: 1rem;
    }
  }

  .bookedDate {
    background-color: #F8C143;
    border-radius: 5px;
    
  }

}

.datepicker{
  width: 100%;
}
