.bookingsContainer {
  
    display: flex;
    justify-content: center;
   
   
  }
  
  .bookingItem {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid  #F8C143;
    border-radius: 5px;
    background-color: white;
    
  }

  .BookingId{
    font-size: 13px;
    margin-bottom: 5px;
  }

  


  ul {
    list-style-type: none;
    padding: 0;
  }

  .pagButton {
    background-color: transparent;
    border-color: none;
    color:black;
    margin-left: 7px;
    margin-right: 7px;
    border: none; 
  }

  .pagButton:hover{
    font-weight: bold;
  }

  .venueButton{
    background-color: transparent;
    border-color: none;
    color:#f7aa04;
    border: none; 
    font-weight: bold;
  }

  .customerInfoContainer {
    border: 1px solid #e5c10d;
    padding: 10px;
    border-radius: 8px;
  }
  
  .hrStyle {
    border-top: 1px solid #a30606;
  }
  
  .customerLabel {
    font-weight: bold;
  }
  
  .customerDetail {
    margin-bottom: 5px;
  }