@import "./colors.module.scss";


.Link {
    color: Yellow-color !important; 
    text-decoration: none;
  
    &:hover {
      text-decoration: underline; 
    }
  }

  .BaseButton{
    color: White;
    background-color: Yellow-color;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;

    &:hover {
      background-color: DarkYellow-color;
    }
  }