.detailsContainer {
  background-color: #cecdcd;
    border-radius: 0 0 0 40px;
    margin: 10px !important;
    padding: 20px;
    max-width: 800px;
    display: flex;

  .header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    width:100%;
    font-size: 18px;
  }

  .venueName{
font-size: 20px;
margin-right: 10px;
  }

  .titleLine{
    border: 2px solid yellow;
  }
  
  &.collapsed .content {
    display: none; // Hide content when collapsed
  }

  &.expanded .content {

    display: flex; // Show content when expanded
    width: 400px;

  }
}
