.componentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .FontLog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 18px;
  }

  .LoginButton {
    text-decoration: none;
    color: black;
    margin-top: 5px;
    font-size: 14px;
  }
}
