.LogoutButton{
    border: none; 
    cursor: pointer;
    background-color: transparent;
    color: black;
    font-size: 14px;
    margin-top: 5px;
}

.LogoutButton:hover{
    text-decoration:underline;
}