.toggleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .toggleContainer {
    position: relative;
    width: 45px;
    height: 19px;
    background-color: #F8C143;
    border: 2px solid #a9a9a9;
    border-radius: 30px;
    margin-bottom: 5px;
    margin-top: 8px;

    .toggleSlider {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 15px;
      height: 15px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: left 0.3s ease; 

      &.active {
        left: 28px;
        background-color:  #a9a9a9;
      }
    }
  }

  label {
    margin-top: 5px;
    min-width: 114px;
  }
}
