.customModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  
    .modalContent {
      background-color: white;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
      max-width: 490px;
      position: relative;
      min-width: 380px;
      
  
      h2 {
        margin: 0;
        padding: 0;
        font-size: 18px;
        color: black;

      }
  
      .closeButtonContainer {
        position: absolute;
        top: 10px;
        right: 10px;
        cursor: pointer;
        background: transparent;
        border: none;
        display: flex;
        flex-direction: column;
        align-items: center;
  
        .closeButton {
          cursor: pointer;
          font-size: 18px;
          background: transparent;
          border: none;
          color: grey;
        }
  
        .closeText {
          font-size: 12px;
          color: grey;
          text-align: center;
        }
      }
  
      .modalButtons {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
  
        button {
          padding: 0.5rem 1rem;
          cursor: pointer;
        }
      }
    }
  }
  