.inputField {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  width: 70%;
  border-radius: 8px;
  font-size: 11px;
}

.updateButton {
  background-color: #f5b833;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 7px 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-weight: bold;
}

.updateButton:hover {
  background-color: #e18427;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}

h2 {
  font-size: 16px;
}
