.inputField {
  margin-top: 50px;
  margin-bottom: 20px;
  padding: 10px;
  width: 90%;
  border-radius: 8px;
  font-size: 11px;
}

.updateButton {
  background-color: transparent;
  color: rgb(0, 0, 0);
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0;
}

.updateButton:hover {
  background-color: #e18427;
}

.errorMessage {
  color: #ff0000;
  margin-top: 10px;
}

h2 {
  font-size: 16px;
}
