.detailsContainer {
  margin: 20px;
}

.venueName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.photosContainer {
  display: flex;
  flex-wrap: wrap;
}

.firstPhoto {
  width: 300px; /* Larger width for the first photo */
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.photo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  margin-right: 10px;
  margin-bottom: 10px;
}

.venueDescription {
  margin-top: 10px;
}

.venuePrice {
  margin-top: 10px;
  font-weight: bold;
}

.venueMaxGuests {
  margin-top: 10px;
}

.rating {
  margin-top: 10px;
}

.locationContainer {
  margin-top: 20px;
}

.locationTitle {
  font-weight: bold;
}

.locationInfo {
  margin-top: 5px;
}
