.profile {
  border: 2px solid #ccc;
  padding: 20px;
  margin: 20px;
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.profileDetails {
  margin: 10px;
}

.profileItem {
  margin: 5px;
}

.avatar {
  max-width: 100px;
  border-radius: 50%;
  margin: 10px;
}

.loading {
  font-weight: bold;
  color: #999;
}
